.intro {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  @include flex(space-between, center, row);
  @media (max-width: 1300px) {
    display: block;
    text-align: center;
  }
  h1 {
    font-size: 4rem;
    padding: 0rem 0rem;
    color: #21a0aa;
    display: inline-block;
    font-family: "Lobster";
  }

  h2 {
    color: #6da2ef;
    font-size: 4rem;
    padding: 0rem 0rem;
    display: inline-block;
    font-family: "Lobster";
  }
  @media (max-width: 800px) {
    .intro-images {
      margin-left: -2rem;
    }
    #btn-new-session-logout {
      margin-bottom: 5px;
      margin-left: 1rem;
      background-color: transparent;
      color: black;
    }
  }
}

.intro-text {
  font-family: "Inter", sans-serif;
}

.intro-login {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.intro-images {
  flex: 1 1 30rem;
  z-index: 2;
}

#me {
  animation: me 1s ease infinite alternate;
  transform-origin: bottom;
}

#me2 {
  animation: me2 1.5s ease infinite alternate;
  transform-origin: bottom;
}

#ballon {
  animation: ballon 2s ease infinite alternate 0.5s;
}

#flower {
  animation: flower 2s ease infinite alternate 0.5s;
}

@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(10deg);
  }
}

@keyframes ballon {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-10%);
  }
}

@keyframes me2 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(13deg);
  }
}

@keyframes flower {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-10%);
  }
}

#man-dancing {
  animation: man-dancing 2s ease infinite alternate;
}

@keyframes man-dancing {
  from {
    transform: rotateY(30deg);
  }
  to {
    transform: rotateY(40deg);
  }
}

#woman-dancing {
  animation: woman-dancing 2s ease infinite alternate;
}

@keyframes woman-dancing {
  from {
    transform: rotateY(40deg);
  }
  to {
    transform: rotateY(30deg);
  }
}

#btn-new-session {
  margin-bottom: 5px;
  background-color: transparent;
  color: black;
}

#btn-new-session-signup {
  margin-bottom: 5px;
  background-color: transparent;
  color: black;
}

#btn-new-session-logout {
  margin-bottom: 5px;
  background-color: transparent;
  color: black;
}
