.learn-page {
  margin-top: 5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  h1 {
    font-size: 4rem;
    padding: 0rem 0rem;
    color: #21a0aa;
    display: inline-block;
    font-family: "Lobster";
  }
}
