* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#session-timeline {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#session-timeline td,
#session-timeline th {
  border: 3px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#session-timeline tr:nth-child(even) {
  background-color: #dddddd;
}

#session-timeline-div {
  overflow-x: scroll;
}

table.table-pianoroll {
  width: 400px;
  height: 200px;
}

table.table-palette {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #320f48), to(#0c0d0d));
  background-image: linear-gradient(#320f48 0, #0c0d0d 100%);
  width: 400px;
  text-align: center;
  border-radius: 50px;
  border-collapse: collapse;
}

table.table-palette td,
table.table-palette th {
  padding: 5px 5px;
}

table.table-palette tbody td {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}

table.table-palette thead {
  background-image: linear-gradient(92.83deg, #c563c5 0, #7718b5 100%);
}

table.table-palette thead th:nth-child(odd) {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 50px 0px 0px 0px;
}

table.table-palette thead th:nth-child(even) {
  background-image: linear-gradient(92.83deg, #320f48 0, #320f48 100%);
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 0px 50px 0px 0px;
}

table.table-palette tfoot {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  padding: 5px 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px 50px 50px 50px;
}

.table-palette-buttonframe {
  width: 75%;
  height: 25%;
  top: 25%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* background-image: linear-gradient(92.83deg, #92499C 0, #6C1478 100%); */
  border: solid #320f48 2px;
  border-width: 2px;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
}

.button-palette {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-palette {
    width: 100px;
    height: 100px;
  }
}

.button-palette:before,
.button-palette:after {
  border-radius: 50%;
}

.button-palette {
  border-radius: 50%;
}

.button-palette:before {
  background-image: linear-gradient(92.83deg, #c563c5 0, #7718b5 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-palette:after {
  background-color: initial;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #320f48), to(#0c0d0d));
  background-image: linear-gradient(#320f48 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-palette:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, #c563c5 0%, #7718b5 100%);
}

.button-palette:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  opacity: 0;
}

.button-palette:active:not(:disabled) {
  color: #ccc;
}

.button-palette:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(92.83deg, #c563c5 0, #7718b5 100%);
}

.button-palette:active:not(:disabled):after {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #320f48), to(#0c0d0d));
  background-image: linear-gradient(#320f48 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-palette:disabled {
  cursor: default;
  opacity: 0.24;
}

.palette-list {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 15%;
}

.palette-list a {
  background-color: #111;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.palette-list a:hover {
  color: #f1f1f1;
  background-color: #320f48;
}

.palette-genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.palette-layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 22px;
  border: 1px solid #eaeaea;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 400px;
}

.palette-layer-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 60px;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  vertical-align: middle;
  padding: 5px 16px 5px 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.palette-layer-progress {
  height: 3px;
  bottom: 0;
  padding: 0;
  margin: 0;
  background-color: white;
}

.play-btn {
  border-radius: 20px !important;
}

.palette-layer-wav {
  width: 74%;
  background-image: url("../public/images/wave.svg");
  height: 67px;
  background-size: contain;
}

.palette-recording-tab {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.palette-metronome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 1px solid #f5a623;
  padding: 16px;
  width: 80%;
}

.palette-recording-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.record-btn {
  width: 100% !important;
  min-height: 60px;
  border-radius: 20px !important;
}

@-webkit-keyframes recording-pulse {
  0% {
    border-color: #e00;
  }
  50% {
    border-color: white;
  }
  100% {
    border-color: #e00;
  }
}

@keyframes recording-pulse {
  0% {
    border-color: #e00;
  }
  50% {
    border-color: white;
  }
  100% {
    border-color: #e00;
  }
}

.record-timer {
  -webkit-animation-name: recording-pulse;
          animation-name: recording-pulse;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.react-calendar-timeline * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.react-calendar-timeline .rct-outer {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.react-calendar-timeline .rct-scroll {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.react-calendar-timeline .rct-item:hover {
  z-index: 88;
}

.react-calendar-timeline .rct-item .rct-item-content {
  position: sticky;
  position: -webkit-sticky;
  left: 0px;
  overflow: hidden;
  display: inline-block;
  border-radius: 2px;
  padding: 0 6px;
  height: 100%;
}

.react-calendar-timeline .rct-sidebar {
  overflow: hidden;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #bbb;
}

.react-calendar-timeline .rct-sidebar.rct-sidebar-right {
  border-right: 0;
  border-left: 1px solid #bbb;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  padding: 0 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  border-bottom: 1px solid #bbb;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
  background: rgba(0, 0, 0, 0.05);
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-even {
  background: transparent;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl {
  position: absolute;
  border-left: 1px solid #bbb;
  z-index: 30;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-vl-first {
  border-left-width: 2px;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6, .react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0 {
  background: rgba(250, 246, 225, 0.5);
}

.react-calendar-timeline .rct-horizontal-lines {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  border-bottom: 1px solid #bbb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 40;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  background: rgba(0, 0, 0, 0.05);
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even {
  background: transparent;
}

.react-calendar-timeline .rct-cursor-line {
  position: absolute;
  width: 2px;
  background: #2196f3;
  z-index: 51;
}

.react-calendar-timeline .rct-dateHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
  font-size: 14px;
  background-color: #f0f0f0;
  border-left: 2px solid #bbb;
}

.react-calendar-timeline .rct-dateHeader-primary {
  background-color: initial;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  color: #fff;
}

.react-calendar-timeline .rct-header-root {
  background: #267051;
  border-bottom: 1px solid #bbb;
}

.react-calendar-timeline .rct-calendar-header {
  border: 1px solid #bbb;
}

.intro {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro h1 {
  font-size: 4rem;
  padding: 0rem 0rem;
  color: #21a0aa;
  display: inline-block;
}

.intro-login,
.intro-images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  z-index: 2;
}

#me {
  -webkit-animation: me 1s ease infinite alternate;
          animation: me 1s ease infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#me2 {
  -webkit-animation: me2 1.5s ease infinite alternate;
          animation: me2 1.5s ease infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#ballon {
  -webkit-animation: ballon 2s ease infinite alternate 0.5s;
          animation: ballon 2s ease infinite alternate 0.5s;
}

#flower {
  -webkit-animation: flower 2s ease infinite alternate 0.5s;
          animation: flower 2s ease infinite alternate 0.5s;
}

@-webkit-keyframes me {
  from {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  to {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
}

@keyframes me {
  from {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  to {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
}

@-webkit-keyframes ballon {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes ballon {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@-webkit-keyframes me2 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(13deg);
            transform: rotateZ(13deg);
  }
}

@keyframes me2 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(13deg);
            transform: rotateZ(13deg);
  }
}

@-webkit-keyframes flower {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes flower {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

#btn-new-session {
  margin-bottom: 5px;
  background-color: transparent;
  color: black;
}

.home {
  min-height: 100vh;
  width: 100%;
  margin-left: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#man {
  -webkit-animation: man 1s ease infinite alternate;
          animation: man 1s ease infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes man {
  from {
    -webkit-transform: rotateX(2deg);
            transform: rotateX(2deg);
  }
  to {
    -webkit-transform: rotateZ(-12deg);
            transform: rotateZ(-12deg);
  }
}

@keyframes man {
  from {
    -webkit-transform: rotateX(2deg);
            transform: rotateX(2deg);
  }
  to {
    -webkit-transform: rotateZ(-12deg);
            transform: rotateZ(-12deg);
  }
}

#notes {
  -webkit-animation: notes 2s ease infinite alternate 0.5s;
          animation: notes 2s ease infinite alternate 0.5s;
}

@-webkit-keyframes notes {
  from {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  to {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
}

@keyframes notes {
  from {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  to {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
}

#man-leg {
  -webkit-animation: man-leg 1s ease infinite alternate;
          animation: man-leg 1s ease infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes man-leg {
  from {
    -webkit-transform: rotateX(-5deg);
            transform: rotateX(-5deg);
  }
  to {
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
}

@keyframes man-leg {
  from {
    -webkit-transform: rotateX(-5deg);
            transform: rotateX(-5deg);
  }
  to {
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
}

#lady-hand1 {
  -webkit-animation: lady-hand1 1s ease infinite alternate;
          animation: lady-hand1 1s ease infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes lady-hand1 {
  from {
    -webkit-transform: rotateY(3deg);
            transform: rotateY(3deg);
  }
  to {
    -webkit-transform: rotateY(-10deg);
            transform: rotateY(-10deg);
  }
}

@keyframes lady-hand1 {
  from {
    -webkit-transform: rotateY(3deg);
            transform: rotateY(3deg);
  }
  to {
    -webkit-transform: rotateY(-10deg);
            transform: rotateY(-10deg);
  }
}

#lady-hand2 {
  -webkit-animation: lady-hand2 1s ease infinite alternate;
          animation: lady-hand2 1s ease infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes lady-hand2 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg);
  }
}

@keyframes lady-hand2 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg);
  }
}

#man-hand {
  -webkit-animation: man-hand 1s ease infinite alternate;
          animation: man-hand 1s ease infinite alternate;
  -webkit-transform-origin: top;
          transform-origin: top;
}

@-webkit-keyframes man-hand {
  from {
    -webkit-transform: rotateX(-4deg);
            transform: rotateX(-4deg);
  }
  to {
    -webkit-transform: rotateX(12deg);
            transform: rotateX(12deg);
  }
}

@keyframes man-hand {
  from {
    -webkit-transform: rotateX(-4deg);
            transform: rotateX(-4deg);
  }
  to {
    -webkit-transform: rotateX(12deg);
            transform: rotateX(12deg);
  }
}

#lady-shirt {
  -webkit-animation: lady-shirt 3s ease infinite alternate;
          animation: lady-shirt 3s ease infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes lady-shirt {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(-5deg);
            transform: rotateX(-5deg);
  }
}

@keyframes lady-shirt {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(-5deg);
            transform: rotateX(-5deg);
  }
}

#string {
  -webkit-animation: string 1s ease infinite alternate;
          animation: string 1s ease infinite alternate;
  -webkit-transform-origin: top;
          transform-origin: top;
}

@-webkit-keyframes string {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(5deg);
            transform: rotateX(5deg);
  }
}

@keyframes string {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(5deg);
            transform: rotateX(5deg);
  }
}

#note1 {
  -webkit-animation: note1 2s ease infinite alternate 0.5s;
          animation: note1 2s ease infinite alternate 0.5s;
}

@-webkit-keyframes note1 {
  from {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

@keyframes note1 {
  from {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

#note2 {
  -webkit-animation: note2 2s ease infinite alternate 0.5s;
          animation: note2 2s ease infinite alternate 0.5s;
}

@-webkit-keyframes note2 {
  from {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
}

@keyframes note2 {
  from {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
}

#man-sitting {
  -webkit-animation: man-sitting 2s ease infinite alternate 0.5s;
          animation: man-sitting 2s ease infinite alternate 0.5s;
}

@-webkit-keyframes man-sitting {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes man-sitting {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

.note-green {
  margin-top: 5rem;
  width: 200px;
  height: 100px;
}

.button-middle {
  margin-top: 5rem;
}

.note-purple {
  margin-top: 5rem;
  width: 200px;
  height: 100px;
}

#note3 {
  -webkit-animation: note3 2s ease infinite alternate 0.5s;
          animation: note3 2s ease infinite alternate 0.5s;
}

@-webkit-keyframes note3 {
  from {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  to {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

@keyframes note3 {
  from {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  to {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

#note5 {
  -webkit-animation: note5 2s ease infinite alternate 0.5s;
          animation: note5 2s ease infinite alternate 0.5s;
}

@-webkit-keyframes note5 {
  from {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  to {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@keyframes note5 {
  from {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  to {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
/*# sourceMappingURL=style.css.map */