// html,
// body {
//   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
//     Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }

* {
  box-sizing: border-box;
}

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

#session-timeline {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #461664;
  td,
  th {
    border: 2px solid #461664;
    text-align: left;
  }
  th {
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
}

table.table-pianoroll {
  width: 400px;
  height: 200px;
}

table.table-palette {
  background-image: linear-gradient(#320f48 0, #0c0d0d 100%);
  width: 400px;
  text-align: center;
  border-radius: 50px;
  border-collapse: collapse;
}
table.table-palette td,
table.table-palette th {
  padding: 5px 5px;
}
table.table-palette tbody td {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}
table.table-palette thead {
  background-image: linear-gradient(92.83deg, #c563c5 0, #7718b5 100%);
}
table.table-palette thead th:nth-child(odd) {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 50px 0px 0px 0px;
}
table.table-palette thead th:nth-child(even) {
  background-image: linear-gradient(92.83deg, #320f48 0, #320f48 100%);
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 0px 50px 0px 0px;
}
table.table-palette tfoot {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  padding: 5px 5px;
  justify-content: center;
  border-radius: 50px 50px 50px 50px;
}

.table-palette-buttonframe {
  width: 75%;
  height: 25%;
  top: 25%;
  margin: 0 auto;
  position: relative;

  display: flex;
  justify-content: center;
  /* background-image: linear-gradient(92.83deg, #92499C 0, #6C1478 100%); */
  border: solid #320f48 2px;
  border-width: 2px;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;

  border-radius: 5px;
}

.button-palette {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-palette {
    width: 100px;
    height: 100px;
  }
}

.button-palette:before,
.button-palette:after {
  border-radius: 50%;
}

.button-palette {
  border-radius: 50%;
}

.button-palette:before {
  background-image: linear-gradient(92.83deg, #c563c5 0, #7718b5 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-palette:after {
  background-color: initial;
  background-image: linear-gradient(#320f48 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-palette:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, #c563c5 0%, #7718b5 100%);
}

.button-palette:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-palette:active:not(:disabled) {
  color: #ccc;
}

.button-palette:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #c563c5 0, #7718b5 100%);
}

.button-palette:active:not(:disabled):after {
  background-image: linear-gradient(#320f48 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-palette:disabled {
  cursor: default;
  opacity: 0.24;
}

.palette-list {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15%;
}
.palette-list a {
  background-color: #111;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.palette-list a:hover {
  color: #f1f1f1;
  background-color: #320f48;
}

.palette-genre {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.palette-layer {
  display: flex;
  border-radius: 22px;
  border: 1px solid #eaeaea;
  flex-direction: column;
  min-width: 400px;
}

.palette-layer-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 60px;
  flex-flow: nowrap;
  vertical-align: middle;
  padding: 5px 16px 5px 8px;
  align-items: center;
}

.palette-layer-progress {
  height: 3px;
  bottom: 0;
  padding: 0;
  margin: 0;
  background-color: white;
}

.play-btn {
  border-radius: 20px !important;
}

.palette-layer-wav {
  width: 74%;
  background-image: url("../public/images/wave.svg");
  height: 67px;
  background-size: contain;
}

.timeline-layer {
  border-radius: 12px;
  border: 1px solid #eaeaea;
  position: absolute;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: white;
}

.timeline-layer-wav {
  width: 74%;
  background-image: url("../public/images/black_wave.svg");
  height: 50px;
  background-size: contain;
  background-repeat: repeat-x;
  background-position: center;
}

.timeline-muted-layer-wav {
  width: 74%;
  background-image: url("../public/images/grey_wave.svg");
  height: 50px;
  background-size: contain;
  background-repeat: repeat-x;
  background-position: center;
}

.timeline-layer-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box !important;
}

.timeline-layer-commit-tooltip {
  padding-right: 1px;
}

.timeline-layer-commit-btn {
  padding: 0px 5px 0px 0px;
  border: none !important;
  border-radius: 50% !important;
  padding: 5px !important;
  height: auto !important;
}

.timeline-layer-initials {
  padding: 0px 8px 8px 2px;
  pointer-events: none;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.timeline-layer-resizer {
  cursor: col-resize;
  height: 100%;
  top: 0;
  width: 24px;
  position: absolute;
  background-image: url("../public/images/re-order-dots.svg");
}

.timeline-layer-resizer-r {
  right: 0;
}

.timeline-layer-resizer-l {
  left: 0;
}

.timeline-wrapper {
  border-radius: 20px;
  border: 1px solid #eaeaea;
  min-height: 80vh;
  position: relative;
}

.layer-container {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  // background-image:
    // linear-gradient(to right, grey 1px, transparent 1px),
    // linear-gradient(to bottom, grey 1px, transparent 1px);
}

.session-members {
  padding: 5px !important;
  display: inline-table;
  position: fixed;
  right: 0;
  top: 0;
  font-size: calc(1 * 13px) !important;
  border-radius: 0px 0px 0px 6px !important;
  z-index: 2000;
  background-color: white;
  .view {
    .subtitle {
      display: none !important;
    }
  }
}

.session-options {
  width: 100vw !important;
  text-align: center;
  position: fixed;
  bottom: 0vh;
  border: none !important;
  opacity: 100;
  pointer-events: none;
  background: transparent !important;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  // background-color: #320f48 !important;
  border-radius: 0px !important;
}

.palette-open-button {
  position: fixed;
  transform-origin: bottom right;
  transform: rotateZ(-90deg);
  top: 32vh;
  right: 0;
}
.navbar {
  z-index: 10;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
}

.menu_bars {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
}

.nav_menu {
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 60px;
  margin: 0;
}

.item_icon {
  color: white;
}

.nav_text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

// .nav_text a:hover {
//   background-color: #1a83ff;
// }

.nav_menu_items {
  width: 100%;
}

.navbar_toggle {
  /* background-color: lightgray; */
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.navbar_item_label {
  margin-left: 16px;
  color: white;
}

.nav_text:before {
  content: "";
}

.timeline-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  background-color: #320f48;
  color: white;
  border-radius: 20px 20px 0px 0px;
  position: absolute;
}

.one-timeline-interval {
  border-left: 1px solid whitesmoke;
  height: 100%;
}

.half-timeline-interval {
  border-right: 1px solid #7f4ba1;
  height: 50%;
  width: 50%;
}

.timeline-interval-seconds {
  position: absolute;
  top: 70%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.timeline-duration-modifier {
  right: 6vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 6vh;
  position: absolute;
  z-index: 1000;
}

.toggle-timeline-duration-btn {
  padding: 0px !important;
  margin-right: 7px !important;
  background-color: white !important;
}

.draggable-wav {
  cursor: move;
}

@import "./intro";
@import "./home";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lobster&display=swap");
